{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
</head>
<body>
    <div class="container emp-profile">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Content goes here -->
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        {% if user.userprofile.image %}
                            <img src="{{ user.userprofile.image.url }}" alt="Profile Picture"/>
                        {% else %}
                            <img src="{% static 'images/default-profile.png' %}" alt="Default Profile Picture"/>
                        {% endif %}
                        <br>
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="image"/>
                        </div>
                    </div>
                </div>            
        </form>
    </div>
</body>
</html>    